<a href="https://colab.research.google.com/github/xFallingDuskx/FlixsterMoviesApp/blob/master/MD2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MD2C - Merged Data 2 Clean

## Import and Setup

In [1]:
# import needed libraries
import pandas as pd
import numpy as np
import re

In [2]:
# download data from merged_data.csv
md = pd.read_csv('https://raw.githubusercontent.com/alexisbianco0919/compsci216-project/main/merged_data.csv')

# Drop first column which was a duplicate index column
md.drop(columns=md.columns[0], axis=1, inplace=True)

# visualize data
md

      self_employeed    company_size  ... state_work  year
0                  0          26-100  ...        NaN  2016
1                  0            6-25  ...   Illinois  2016
2                  0            6-25  ...        NaN  2016
3                  1             NaN  ...        NaN  2016
4                  0            6-25  ...   Illinois  2016
...              ...             ...  ...        ...   ...
2953               0  More than 1000  ...        NaN  2019
2954               1             NaN  ...  Louisiana  2019
2955               1             NaN  ...        NaN  2019
2956               0  More than 1000  ...        NaN  2019
2957               0  More than 1000  ...     Oregon  2019

[2958 rows x 30 columns]

## Cleaning Columns
Although 3 people have currently been assigned to clean the columns, I felt it was better to split the colums into 6 sections to avoid the cleaning taking place in such large clusters. Definitely feel free to add more cells in order to have more space for cleaning.

### Cleaning Rows 1-5

In [3]:
# Code
#Self-employed
md['self_employeed'] = md['self_employeed'].astype(bool)

print(md['self_employeed'].value_counts())

#company size I think is fine as is
print(md['company_size'].value_counts())

#tech_company
vals = {'1.0':True,
        '0.0': False,
        'True': True,
        'False': False}
md['tech_company'] = md['tech_company'].replace(vals)
print(md['tech_company'].value_counts())

#tech_prole
md['tech_prole'] = md['tech_prole'].replace(vals)

print(md['tech_prole'].value_counts())

#mh_benefits
md['mh_benefits'] = md['mh_benefits'].replace('Not eligible for coverage / N/A', 'Not eligible for coverage / NA')
print(md['mh_benefits'].value_counts())

False    2454
True      504
Name: self_employeed, dtype: int64
More than 1000    630
100-500           612
26-100            535
6-25              399
500-1000          186
1-5                92
Name: company_size, dtype: int64
True     1857
False     597
Name: tech_company, dtype: int64
True     1471
False     100
Name: tech_prole, dtype: int64
Yes                               1267
I don't know                       658
No                                 381
Not eligible for coverage / NA     148
Name: mh_benefits, dtype: int64

### Cleaning Rows 6-10

In [4]:
# Code

#anonymity I think is fine as is

print(md['anonymity'].value_counts())

#leaving_difficulty is fine but there are a lot of NaN values

print(md['leaving_difficulty'].value_counts())

#disc_mh_coworker is fine but there are a lot of NaN values

print(md['disc_mh_coworker'].value_counts())

#disc_mh_supervisor is fine but there are a lot of NaN values

print(md['disc_mh_supervisor'].value_counts())

#reveal_mh_business is fine but there are a lot of NaN values

print(md['reveal_mh_business'].value_counts())

I don't know    1546
Yes              760
No               148
Name: anonymity, dtype: int64
Somewhat easy                 356
Very easy                     286
I don't know                  229
Neither easy nor difficult    166
Somewhat difficult            159
Difficult                     112
Name: leaving_difficulty, dtype: int64
Maybe    574
Yes      407
No       327
Name: disc_mh_coworker, dtype: int64
Yes      504
Maybe    433
No       371
Name: disc_mh_supervisor, dtype: int64
Not applicable to me                         175
No, because it would impact me negatively    140
Sometimes, if it comes up                    109
No, because it doesn't matter                 73
Yes, always                                    7
Name: reveal_mh_business, dtype: int64

### Cleaning Rows 10-15

In [5]:
# Code

#reveal_mh_coworkers

print(md['reveal_mh_coworkers'].value_counts())

#affects_productivity

print(md['affects_productivity'].value_counts())

#productivity_percent

print(md['productivity_percent'].value_counts())

#mention_ph_interview

print(md['mention_ph_interview'].value_counts())

#mention_mh_interview
print(md['mention_mh_interview'].value_counts())

Not applicable to me                         186
Sometimes, if it comes up                    179
No, because it would impact me negatively     88
No, because it doesn't matter                 30
Yes, always                                   21
Name: reveal_mh_coworkers, dtype: int64
Yes                     367
Unsure                   60
Not applicable to me     51
No                       26
Name: affects_productivity, dtype: int64
1-25%      164
26-50%     125
51-75%      53
76-100%     25
Name: productivity_percent, dtype: int64
Maybe    1265
No        994
Yes       699
Name: mention_ph_interview, dtype: int64
No       1059
Maybe     391
Yes        75
Name: mention_mh_interview, dtype: int64

### Cleaning Rows 16-20

In [6]:
# Code

#share_mh_ff
md['share_mh_ff'] = md['share_mh_ff'].replace(['0', '1'], 'Not open at all')
md['share_mh_ff'] = md['share_mh_ff'].replace(['2', '3', '4'], 'Somewhat not open')
md['share_mh_ff'] = md['share_mh_ff'].replace('5', 'Neutral')
md['share_mh_ff'] = md['share_mh_ff'].replace(['6', '7', '8'], 'Somewhat open')
md['share_mh_ff'] = md['share_mh_ff'].replace(['9', '10'], 'Very open')

print(md['share_mh_ff'].value_counts())
#exp_unsupport
print(md['exp_unsupport'].value_counts())

#reveal_less
print(md['reveal_less'].value_counts())

#family_history
print(md['family_history'].value_counts())

#mh_in_past
md['mh_in_past'] = md['mh_in_past'].replace('Possibly', 'Maybe')
print(md['mh_in_past'].value_counts())

Somewhat open                                            1255
Very open                                                 640
Somewhat not open                                         459
Neutral                                                   329
Not open at all                                           163
Not applicable to me (I do not have a mental illness)     112
Name: share_mh_ff, dtype: int64
No                                1207
Maybe/Not sure                     748
Yes, I observed                    541
Yes, I experienced                 356
I've always been self-employed      15
Name: exp_unsupport, dtype: int64
No       734
Yes      236
Maybe    228
Name: reveal_less, dtype: int64
Yes             1376
No               933
I don't know     649
Name: family_history, dtype: int64
Yes           1417
No             896
Maybe          521
Don't Know     109
Name: mh_in_past, dtype: int64

### Cleaning Rows 20-25

In [7]:
# Code

#mh_currently
md['mh_currently'] = md['mh_currently'].replace('Possibly', 'Maybe')
print(md['mh_currently'].value_counts())

#mh_diagnosed
print(md['mh_diagnosed'].value_counts())

#sought_treatment
vals = {'1':True,
        '0': False,
        'True': True,
        'False': False}

md['sought_treatment'] = md['sought_treatment'].replace(vals)
print(md['sought_treatment'].value_counts())

#age
md['age'].where(md['age'] <= 80, np.nan, inplace=True)
#md['age'].value_counts()

#gender_cleaned (as derived from gender column)

female = ['Female', 'female', 'I identify as female.', 'female ', 
          'Female assigned at birth ', 'F', 'Woman', 'fm', 'f', 'Cis female ',
          'Female or Multi-Gender Femme', 'Female ', 'woman', 'female/woman',
          'Cisgender Female', 'genderqueer woman', 'fem', 
          'Female (props for making this a freeform field, though)', ' Female',
          'Cis-woman', 'female-bodied; no feelings about gender', 'AFAB', 
          'femalw', 'femail', 'female (cis)', 'My sex is female.', 
          'female (cisgender)', 'Female (cis) ', 'Woman-identified', 
          'cis-Female', 'cis female', 'F, cisgender', 'Female-ish', 
          'I identify as female', '*shrug emoji* (F)', 'She/her/they/them', 
          'cisgender female', 'gender non-conforming woman', 
          'Female-identified', 'cis woman', 'femmina', 'Femile', 'Female (cis)',
          'Female/gender non-binary.', 'Cis woman', 'Female (cisgender)',
          'Cis-Female', 'Cisgendered woman']

male = ['Male', 'male', 'Male ', 'M', 'm', 'man', 'Cis male', 'Male.', 
        'Male (cis)', 'Man', 'Sex is male', 'cis male', 'Malr', 'Dude', 
        "I'm a man why didn't you make this a drop down question. You should of asked sex? And I would of answered yes please. Seriously how much text can this take? ",
        'mail', 'M|', 'Male/genderqueer', 'male ', 'Cis Male', 'cisdude', 
        'cis man', 'MALE', 'cis-male', 'Mail', 'male/androgynous ', 
        'cis hetero male', 
        "male (hey this is the tech industry you're talking about)", 'Cis-male',
        'Male, cis', 'cis male ', 'Male-ish', 'dude', 'Ostensibly Male', 
        'male, born with xy chromosoms', 'Malel', 'Cisgender male', 'SWM', 
        'Let\'s keep it simple and say "male"', 'Identify as male', 'Masculine',
        'Cishet male', 'I have a penis', 'masculino', 'Make', 'CIS Male']

transgender = ['Transitioned, M2F', 'mtf', 'Male (trans, FtM)', 
               'Transgender woman', 'trans woman', 'Transfeminine', 'Trans man',
               'Trans female', 'Agender trans woman', '43', 
               'Trans non-binary/genderfluid', 'Trans woman', 'transgender',
               'Trans woman']

# should I change the name or make more/less classifications?
other = ['Bigender', 'non-binary', 'Genderfluid (born female)', 
         'Other/Transfeminine', 'Androgynous', 'male 9:1 female, roughly',
         'Other', 'nb masculine', 'genderqueer', 'Genderfluid', 'Enby', 
         'Queer', 'Agender', 'Fluid', 'Nonbinary', 'Genderqueer', 
         'Genderflux demi-girl', 'uhhhhhhhhh fem genderqueer?', 'Non-binary',
         'Agender/genderfluid', 'Non binary', 'Genderqueer demigirl', 
         'Genderqueer/non-binary', 'nonbinary', '\\-', 'None', 
         'Male (or female, or both)', 'genderfluid', 'Demiguy', 'none', 'NB',
         'Nonbinary/femme', 'agender', 'Questioning', 'rr', 
         'Non-binary and gender fluid', 'non binary'] 

throwawayAnswers = [np.nan, 'none of your business', 'Human', 'human', 
                    'Unicorn', 'God King of the Valajar', 'sometimes', 
                    'Contextual', 'I am a Wookie', 'nan']

# print(cols.gender.unique())
# uniques = md.gender.unique()

# for unique in uniques:
#   if unique in female: 
#     continue;
#   if unique in male: 
#     continue;
#   if unique in transgender:
#     continue;
#   if unique in other:
#     continue;
#   if unique in throwawayAnswers:
#     continue;
#   print(unique)
g = []

for gender in md["gender"]:
  if gender in female: 
    g.append("female")
  if gender in male: 
    g.append("male")
  if gender in transgender:
    g.append("transgender")
  if gender in other:
    g.append("other")
  if gender in throwawayAnswers:
    g.append(np.nan)

md["gender_cleaned"] = g

# print(md["gender"].head)
# print(md["gender_cleaned"].head)
# for gender in cols.gender.unique():
  # print(gender)

# print(female)
# print(male)
# print(transgender)
# print(other)
# print(throwawayAnswers)

md['gender_cleaned'].value_counts()

Yes           1237
No             969
Maybe          628
Don't Know     124
Name: mh_currently, dtype: int64
Yes    647
No      15
Name: mh_diagnosed, dtype: int64
True     936
False    589
Name: sought_treatment, dtype: int64

male           2061
female          790
other            61
transgender      14
Name: gender_cleaned, dtype: int64

### Cleaning Rows 26-30

In [8]:
# Code

#country_live
md['country_live'].value_counts()

#state_live
md['state_live'].value_counts()

#country_work	
md['country_work'].value_counts()

#state_work
md['state_work'].value_counts()

#year is fine
md['year'].value_counts()

2016    1433
2017     756
2018     417
2019     352
Name: year, dtype: int64

## Final Result

In [9]:
md.to_csv('clean_data.csv', index=False)
md

      self_employeed    company_size  ...  year gender_cleaned
0              False          26-100  ...  2016           male
1              False            6-25  ...  2016           male
2              False            6-25  ...  2016           male
3               True             NaN  ...  2016           male
4              False            6-25  ...  2016         female
...              ...             ...  ...   ...            ...
2953           False  More than 1000  ...  2019           male
2954            True             NaN  ...  2019           male
2955            True             NaN  ...  2019           male
2956           False  More than 1000  ...  2019         female
2957           False  More than 1000  ...  2019         female

[2958 rows x 31 columns]